.Centered {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.MainBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
}